.mainContainer {
  width: 100%;
  /* background-color: blue; */
}

/*----------------------------------------------------------------------------*/
.layoutContainer {
  display: flex;
  /* padding: 2rem 2rem 0 2rem; */

  /* background-color: red; */
}

/*----------------------------------------------------------------------------*/
.contentContainer {
  display: flex;

  flex-direction: column;
  align-items: center;

  width: 100%;
  padding: 0rem;
  padding-top: 2rem;
  border: var(--layout-border-color) var(--layout-border-size) var(--layout-border-style);
  /* background-color: cyan; */
}
